.btn {
  font-family: "Helvetica Neue";
  padding: 12px 16px;
  color: $white;
  background: #58C1CE;
  font-weight: 400;
  font-size: 22px;
  text-shadow: none;//1px 1px 1px #343434;
}

.remove {
  margin-top: 7px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-image: url(../images/delete.png)
}
.remove:hover {
  background-image: url(../images/delete-hover.png) 
}

.add-row {
  margin-top: 10px;
}