// Site-wide
// --------------------------------------------------
$bodyBackground: #f9f9f9;

$lightBorder: #000;
$mediumBorder: #b3b3b3;
$baseBorderRadius: 10px;

$btnBorder: #ccc;


// Navigation
// --------------------------------------------------
$arrowMargin: 55px;
$arrowWidth: 39px;
$arrowHeight: 30px;
$arrowOffset: 5px;


// Forms
// --------------------------------------------------
$formFocus: #E14E3E;
$calendarFocus: #33BED0;